*{
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
}
#banner{
    background: url(images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;

}
.banner-text{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.banner-text h1{
    font-size: 130px;
    font-family: 'Kaushan Script', cursive ;
}
.banner-text p{
    font-size: 30px;
    font-style: italic;
    color: rgb(255, 255, 255);
    font-family: 'Kaushan Script', cursive ;
}
/* .banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #fff;
    position: relative;
    z-index: 1;
    transition:color 0.5s;
     
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position :absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transform: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;

}
.banner-btn a:hover{
    color:#000;


} */
.catogries{
    padding-top: 50px;

}
.catogries .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow:  0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.8s;
}
.catogries .col-3 img{
    width:50px;
    margin-top: 20px;
    border-radius: 50%;

}
.testimocatogriesnial .col-3:hover{
    transform: translateY(-10px);

}
.fa .fa-quote-left{
    font-size: 34px;
    color: #ff523b;
    
}
/* .col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;

}*/
.catogries1{
    font-weight: 600;
    color: #555;
    font-size: 40px;
    
} 
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.row1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 120px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 h1{
    font-size: 42px;
    font-family: 'Kaushan Script', cursive ;
    color: #fff;
    padding-top: 50px;

}
#banner1{
    background:url(images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 110vh;
}
.small-container{
    max-width: 1500px;
    padding-left: 10px ;
    padding-right: 10px;
}
.col-4{
    flex-basis: 20%;
    padding: 4px;
    min-width: 50px;
    margin-bottom: 50px;
    margin-top: 0px;
    transition: transform 0.8s;
}
.col-4 img{
    width: 100%;
    
}
.title{
    text-align: center;
    margin: 50px 100px 50px;
    position: relative;
    line-height: 80px;
    color: rgba(241, 185, 0, 0.856);;
    margin-top: 5px;
    font-family: 'Kaushan Script', cursive ;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 200px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}
h4{
    color: rgb(226, 213, 28);
    font-size: 20px;

}
.col-4:hover{
    transform: translateY(-5px);

}
#banner2{
    background: url(images/homeremidies.jpg);
    background-size: cover;
    /* background-position: center; */
    height: 100vh;
    background-repeat: no-repeat;
}
.title1{
    text-align: center;
    margin: 20px 100px 50px;
    position: relative;
    line-height: 80px;
    color: rgba(219, 172, 16, 0.384);
    margin-top: 10px;
    font-family: 'Kaushan Script', cursive ;
}
.title1::after{
    content: '';
    background: #ff523b;
    width: 200px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

}
.col_2{
    flex-basis: 20%;
    padding: 4px;
    min-width: 50px;
    margin-bottom: 50px;
    transition: transform 0.8s;
}
.col_2 img{
    width: 100%;
    
}
.col_2:hover{
    transform: translateY(-5px);

}
.col_2 h4{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'Kaushan Script', cursive ;
}
#banner3{
    /* background: rgb(15,7,42); */
    background: linear-gradient(90deg, rgba(15,7,42,1) 30%, rgba(9,121,86,1) 100%, rgba(0,212,255,1) 100%);background-size: cover;
    background-position: center;
    min-height: 117vh;
}
.body1{
    font-family: Oxygen, sans-serif;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  grid-gap: 2rem;
  justify-content: center;
}
.card {
    overflow: hidden;
    box-shadow: 0px 2px 20px var(--clr-gray200);
    border-radius: var(--radius);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200ms ease-in;
}
.card__image{
    height: 12rem;
    width: 100%; 
    object-fit: cover;
}
.card__title{
    padding: 1rem;
    font-family: 'Kaushan Script', cursive ;
}
.card__description{
    padding: 0 1rem;
    color: rgba(240, 186, 11, 0.562);
}
.card__btn{
    padding: 1rem;
    font-family: inherit;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
    border: 2px solid var(--clr-primary);
    background: transparent;
    color: var(--clr-primary);
    border-radius: var(--radius);
    transition: background 200ms ease-in, color 200ms ease-in;
}
.card__btn:hover{
    background: var(--clr-primary);
    color: white;
    transform: scale(1.02);
}
.ptag{
    padding: 0 1rem;
    font-family: 'Kaushan Script', cursive ;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 0px;
    
    }
 nav{
    text-align: left;
   }
   .btn {
    display: inline-block;
    background: #d10a0a7c;
    color: #fff;
    padding: 8px 10px;
    margin-top: 15px;
    border-radius: 30px;
    transition: background 0.5s;
    margin-left: 700px;
   }
.btn:hover{
    background: #6e6262;
}
.btn1{
    display: inline-block;
    background: #d10a0a7c;
    color: #fff;
    padding: 8px 10px;
    margin-top: 15px;
    border-radius: 30px;
    transition: background 0.5s;
    margin-right: 300px;
}
.btn1:hover{
    background: #6e6262;
}
#table{
    table-layout: fixed ;
    /* position: */
    text-align: center;
}
.allcasecount{
    text-align: center;
   margin-bottom: 100px;
    position: relative;
    line-height: 80px;
    color: rgba(241, 185, 0, 0.856);
    font-weight: bolder;
    font-size: 30px;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 224px;
    
}
.allcasecount div{ 
    font-family: 'Kaushan Script', cursive ;
    font-weight: lighter;
    font-size: 50px;
}
.table-data{
    text-align: center;
    margin: 50px 100px 50px;
    position: relative;
    line-height: 80px;
    color: rgba(241, 185, 0, 0.856);
    margin-top: 5px;
    font-weight: bolder;
    font-size: 20px;
}
.essintialproducts{
    text-align: center;
    margin: 50px 100px 50px;
    position: relative;
    line-height: 80px;
    color: rgba(241, 185, 0, 0.856);
    margin-top: 5px;
    font-weight: bolder;
    font-size: 17px;
}
.videolinks{
    text-align: center;
    margin: 50px 100px 50px;
    position: relative;
    line-height: 80px;
    color: rgba(241, 185, 0, 0.856);
    margin-top: 5px;
    font-weight: bolder;
    font-size: 17px;
}
.banner-btn a{
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    margin: 30px 0;
    color: #03e9f4;
    text-decoration: wavy;
    text-transform: uppercase;
    overflow:hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 5px linear-gradient(transparent,#0005);
    border-radius: 8px;
    font-weight: bolder;
}
.banner-btn a:hover{
    background-color: #fff;
    color:#050801;
    box-shadow: 0 0 5px rgb(219, 200, 200),
                0 0 25px rgba(59, 35, 35, 0.26),
                0 0 50px rgba(16, 74, 107, 0.5),
                0 0 100px rgb(165, 22, 22),
                0 0 200px rgba(12, 157, 194, 0.829);
}
.banner-btn a span{
    position: absolute;
    display: block;
}
.banner-btn a span:nth-child{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #000);
    animation: animate1 1s linear infinite;
}
@keyframes animate1{
    0%{
        left:-100%;
    }
    50%, 100%{
        left: 100%;
    }
}
/* button {
    margin: 70px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 8px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.btn-7 {
    background: linear-gradient(0deg, rgba(255,151,0,1) 0%, rgba(251,75,2,1) 100%);
      line-height: 42px;
      padding: 0;
      border: none;
    }
    .btn-7 span {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
    }
    .btn-7:before,
    .btn-7:after {
      position: absolute;
      content: "";
      right: 0;
      bottom: 0;
      background: rgba(251,75,2,1);
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btn-7:before{
       height: 0%;
       width: 2px;
    }
    .btn-7:after {
      width: 0%;
      height: 2px;
    }
    .btn-7:hover{
      color: rgba(251,75,2,1);
      background: transparent;
    }
    .btn-7:hover:before {
      height: 100%;
    }
    .btn-7:hover:after {
      width: 100%;
    }
    .btn-7 span:before,
    .btn-7 span:after {
      position: absolute;
      content: "";
      left: 0;
      top: 0;
      background: rgba(251,75,2,1);
      box-shadow:
       -7px -7px 20px 0px rgba(255,255,255,.9),
       -4px -4px 5px 0px rgba(255,255,255,.9),
       7px 7px 20px 0px rgba(0,0,0,.2),
       4px 4px 5px 0px rgba(0,0,0,.3);
      transition: all 0.3s ease;
    }
    .btn-7 span:before {
      width: 2px;
      height: 0%;
    }
    .btn-7 span:after {
      height: 2px;
      width: 0%;
    }
    .btn-7 span:hover:before {
      height: 100%;
    }
    .btn-7 span:hover:after {
      width: 100%;
    } */
    .animation-area {
        background: linear-gradient(to left, 90deg, rgb(5, 2, 14) 30%, rgb(5, 68, 48) 100%, rgb(11, 53, 61) 100% );
        min-width: 100%;
        min-height: 100%;
    }
    .box-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .box-area li {
        position: absolute;
        display: block;
        list-style: none;
        width: 25px;
        height: 25px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 20s linear infinite;
        bottom: -150px;
    }
    .box-area li:nth-child(1) {
        left: 86%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }
    .box-area li:nth-child(2) {
        left: 12%;
        width: 30px;
        height: 30px;
        animation-delay: 1.5s;
        animation-duration: 10s;
    }
    .box-area li:nth-child(3) {
        left: 70%;
        width: 100px;
        height: 100px;
        animation-delay: 5.5s;
    }
    .box-area li:nth-child(4) {
        left: 42%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 15s;
    }
    .box-area li:nth-child(5) {
        left: 65%;
        width: 40px;
        height: 40px;
        animation-delay: 0s;
    }
    .box-area li:nth-child(6) {
        left: 15%;
        width: 110px;
        height: 110px;
        animation-delay: 3.5s;
    }
    @keyframes animate {
        0% {
            transform: translateY(0) rotate(0deg);
            opacity: 1;
        }
        100% {
            transform: translateY(-800px) rotate(360deg);
            opacity: 0;
        }
    }
  
  
body {
    background:#ddd;
    font-family:"Raleway";
  }
  .center {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
  }
  .popup {
    width:350px;
    height:280px;
    padding:30px 20px;
    background:#f5f5f5;
    border-radius:10px;
    box-sizing:border-box;
    z-index:2;
    text-align:center;
    opacity:0;
    top:-200%;
    transform:translate(-50%,-50%) scale(0.5);
    transition: opacity 300ms ease-in-out,
                top 1000ms ease-in-out,
                transform 1000ms ease-in-out;
  }
  .popup.active {
    opacity:1;
    top:50%;
    transform:translate(-50%,-50%) scale(1);
    transition: transform 300ms cubic-bezier(0.18,0.89,0.43,1.19);
  }
  .popup .title {
    margin:5px 0px;
    font-size:30px;
    font-weight:600;
  }
  .popup .description {
    color:#222;
    font-size:15px;
    padding:5px;
  }
  .popup .dismiss-btn {
    margin-top:15px;
  }
  .popup .dismiss-btn button {
    padding:10px 20px;
    background:#111;
    color:#f5f5f5;
    border:2px solid #111;
    font-size:16px;
    font-weight:600;
    outline:none;
    border-radius:10px;
    cursor:pointer;
    transition: all 300ms ease-in-out;
  }
  .popup .dismiss-btn button:hover {
    color:#111;
    background:#f5f5f5;
  }
  .popup > div {
    position:relative;
    top:10px;
    opacity:0;
  }
  .popup.active > div {
    top:0px;
    opacity:1;
  }
  .popup.active .icon {
    transition: all 300ms ease-in-out 250ms;
  }
  .popup.active .title {
    transition: all 300ms ease-in-out 300ms;
  }
  .popup.active .description {
    transition: all 300ms ease-in-out 350ms;
  }
  .popup.active .dismiss-btn {
    transition: all 300ms ease-in-out 400ms;
  }
